h1 {
    text-align: center;
}

.no-products {
    background-color: rgb(221, 204, 171);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
}

.img {
    width: 50px;
    height: auto;
}